.showaddition-c{
    border: 1px solid rgb(245, 245, 218);
    background-color: aquamarine;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 20px;
    box-shadow: 5px 7px 15px 0px rgba(54, 54, 53, 0.75);
}